@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fffefe;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #000000;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #FFFF97;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

header img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #bdbdbd;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #bdbdbd;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Home Page */
#hero{
    background-image: url("img/hero 3.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #bdbdbd;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: aqua;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #000000;
    background-color: #FFFF97;
}

#feature .fe-box:nth-child(2) h6{
    background-color: aquamarine;
}
#feature .fe-box:nth-child(3) h6{
    background-color: aqua;
}
#feature .fe-box:nth-child(4) h6{
    background-color: beige;
}
#feature .fe-box:nth-child(5) h6{
    background-color: aliceblue;
}
#feature .fe-box:nth-child(6) h6{
    background-color: rgb(235, 12, 42);
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #bdbdbd;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.002);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.006);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-image: url("img/banner/banner1.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #000000;
    font-size: 16px;
}

#banner h2{
    color: #ff0000;
    font-size: 30px;
    padding: 10px 0;
}

#banner button:hover{
    background: #FFFF97;
    color: #000000;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/banner2.png");
    min-width: 800px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/banner/banner3.png");
}

#sm-banner h4{
    color: #000000;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #000000;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #FFFF97;
    border: 1px solid #FFFF97;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/banner4.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #111110;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #ffbd27;
    color: #000000;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 18px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #bdbdbd;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #header{
        padding: 10px 20px;
      }
    
      #navbar{
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 25%;
        background-color: #FFFF97;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
      }

      #navbar.active{
        right: 0px;
      }

      #navbar li{
        margin-bottom: 25px;
      }
    
      #mobile{
        display: flex;
      }

      #mobile i{
        color: #000000;
        font-size: 24px;
        padding-right: 15px;
      }

      #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #000000;
      }

      #lg-cart{
        display: none;
      }
    
      #hero{
        height: auto;
        background-position: center center;
        padding: 40px 20px;
        text-align: center;
      }
    
      #hero h1{
        font-size: 36px;
        line-height: 48px;
      }
    
      #hero button{
        padding: 12px 60px 12px 45px;
        font-size: 14px;
      }

      #feature{
        justify-content: center;
      }
    
      #feature .fe-box{
        margin: 15px 15px;
      }
    
      #feature .fe-box img{
        margin-bottom: 20px;
      }
    
      h2{
        font-size: 32px;
        line-height: 40px;
      }
    
      p {
        font-size: 14px;
        margin: 10px 0 15px 0;
      }

      #product1 .pro-container{
        justify-content: center;
      }

      #product1 .pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }

      #sm-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
      }

      #sm-banner .banner-box{
        background-size: cover;
        background-position: center;
      }
      
      #sm-banner .banner-box2 {
        background-size: cover;
        background-position: center;
        padding-top: 50px;
      }
      
      #sm-banner h4 {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }
      
      #sm-banner h2 {
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      
      #sm-banner span {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 10px;
      }
      
      #sm-banner .banner-box:hover button {
        background: #FFFF97;
        border: none;
      }

      #newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url("img/banner/banner4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #111110;
        padding: 40px;
    }
    
    #newsletter h4{
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #newsletter p{
        font-size: 14px;
        font-weight: 600;
        color: #818ea0;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #newsletter p span{
        color: #ffbd27;
    }
    
    #newsletter .form{
        display: flex;
        width: 100%;
        max-width: 400px;
    }
    
    #newsletter input{
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -1px;
    }
    
    #newsletter button{
        background-color: #ffbd27;
        color: #000000;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 3.125rem;
        font-size: 14px;
        padding: 0 1.25em;
        border: none;
        outline: none;
        margin-left: -1px;
        
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
}

@media (max-width:477px) {
    .section-p1{
        padding: 20px;
    }
      #header{
        padding: 10px 0px;
      }
      #feature{
        justify-content: space-between;
      }
      #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    footer .copyright{
        text-align: start;
    }
}